html,
body,
header {
    margin: 0;
    padding: 0;
}

br.clear {
    font-size: 1px;
    clear: both;
}

/* z-index:100 */
header {
    height: 60px;
    background-color: #eee;
    border-bottom: solid 1px #aaa;
    z-index: 100;
}
header h1 {
    float: left;
    margin: 0 15px;
    color: #444;
    text-shadow: 1px 1px 1px #fff;
    font: bold 32px/60px 'Microsoft YaHei', simhei, STHeiTi, sans-serif, Verdana;
}
header nav {
    margin-left: 256px;
}
header nav a {
    float: left;
    color: #333;
    text-decoration: none;
    border: solid 1px gray;
    border-radius: 3px;
    padding: 5px 10px;
    text-shadow: 1px 1px 1px #fff;
    margin: 25px 20px 0 0;
    white-space: nowrap;
    font: normal 14px/1 Verdana, Arial, Helvetica, sans-serif;
}

header nav a.latest {
    float: right;
    border: none;
}
header nav a:hover {
    color: #0a0;
}

.setting-panel-hidden aside {
    display: none;
}

.setting-panel-visible aside {
    display: block;
}
.hidden-panel {
    position: absolute;
    top: -10000px;
}

.jsmind-container {
float: left;
}

aside {
    background-color: #f9f9f9;
    border-left: solid 1px #bbb;
    float: left;
}

aside .title-bar {
    height: 36px;
    /* border-bottom: solid 1px #fff; */
    text-align: right;
}

aside .title-bar span {
    color: gray;
    font-size: 14px;
    line-height: 36px;
    margin-right: 11px;
}

aside section {
    margin: 12px;
    font: normal 16px/24px 'Microsoft YaHei', simhei, STHeiTi, sans-serif, Verdana;
}

aside em {
    font-style: normal;
    font-weight: bold;
    border: solid 1px gray;
    border-radius: 5px;
    padding: 1px 3px;
}

aside .notes {
    font-size: 14px;
}

aside code {
    background-color: #fff;
    border: solid 1px #eee;
    font-size: 14px;
}

aside code.multi-line {
    display: block;
    padding: 4px 8px;
}

aside code a {
    color: #444;
}

aside input {
    height: 30px;
}

aside button {
    font-size: 16px;
    height: 36px;
}
.jsmind-tools {
    position: absolute;
    z-index: 100;
    top: 70px;
    left: 10px;
    border: solid 1px #fff;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0.5;
}
.jsmind-tools:hover {
    opacity: 1;
}
.jsmind-tools ul {
    float: left;
    margin: 0 3px;
}
.jsmind-tools li {
    display: none;
}

.jsmind-tools li.title {
    display: list-item;
}

.jsmind-tools li.title .menu-text {
    display: none;
}

.jsmind-tools-active {
    border-color: gray;
    opacity: 1;
}

.jsmind-tools-active li {
    display: list-item;
}

.jsmind-tools-active li.title {
    opacity: 1;
}

.jsmind-tools-active li.title .menu-text {
    display: inline-block;
}

.menu {
    padding: 6px 8px;
    list-style: none;
}

.menu li {
    height: 28px;
    opacity: 0.4;
    cursor: default;
    user-select: none;
    font-family: "Microsoft YaHei", simhei, STHeiTi, sans-serif, Verdana;
        vertical-align: middle;
}
.menu li:hover {
    opacity: 1;
}
.menu .menu-icon {
    display: inline-block;
    font-size: 18px;
    height: 28px;
    line-height: 28px;
    margin-right: 6px;
    padding: 0;
    vertical-align: middle;
}
.menu .menu-text {
    display: inline-block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
}
.menu .menu-divider {
    border-bottom: solid 1px gray;
    height: 0;
    margin: 6px 0;
}
.menu-item {
    position: relative;
}
.menu-item .menu {
    background-color: #fff;
    border: solid 1px gray;
    border-radius: 5px;
    display: none;
    position: absolute;
    left: 95%;
    top: 0;
    z-index: 102;
}
.menu-item:hover .menu {
    display: block;
}
.menu-compose-options,
.menu-export-options,
.menu-language-options {
    width: 160px;
}
.dialog {
    position: absolute;
    z-index: 101;
    top: 40px;
    left: 400px;
    border: solid 1px gray;
    background-color: #fff;
    border-radius: 5px;
    opacity: 1;
    width: 400px;
    height: 200px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    overflow: hidden;
    background-color: #f2f2f2;
    border-top: solid 1px #bbb;
}
footer nav {
    font: normal 13px/30px Verdana, Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
footer nav a {
    color: #666;
    text-decoration: none;
}

div.toast {
    position: absolute;
    display: none;
    z-index: 105;
    top: 400px;
    width: 100%;
}

div.toast .toast-content {
    width: 420px;
    margin: 0 auto;
    border: solid 1px gray;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px 0;
}

div.toast .toast-icon {
    display: inline-block;
    font-size: 36px;
    width: 40px;
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
}

div.toast .icon-warning {
    color: #faab22;
}

div.toast .toast-message {
    display: inline-block;
    font-size: 16px/1;
    width: 330px;
}

div.toast .toast-message p {
    margin: 2px 0;
}
@media screen and (max-device-width: 1024px) {
    .jsmind-tools li {
        opacity: 1;
    }
}

@media screen and (max-width: 1023px) {
    header {
        height: 36px;
    }
    header h1 {
        margin: 0 4px;
        font-size: 18px;
        line-height: 36px;
    }
    header h1:first-letter {
        line-height: 16px;
    } /* Wingdings v */
    header nav {
        margin-left: 150px;
    }
    header nav a {
        margin-top: 10px;
    }

    .jsmind-tools {
        top: 44px;
        left: 8px;
    }

    footer {
        height: 20px;
    }
    footer nav {
        line-height: 20px;
    }
}
